.botao-contraste {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 120px;
    right: 10px;
    background-color: #2771dd;
    border-radius: 7px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    z-index: 10;
    padding-top: 10px;
}

.botao-contraste:hover {
    cursor: pointer;
}